<p id="notice"><%= notice %></p>

<h1>Species</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Classification</th>
      <th>Designation</th>
      <th>Average height</th>
      <th>Average lifespan</th>
      <th>Eye colors</th>
      <th>Hair colors</th>
      <th>Skin colors</th>
      <th>Language</th>
      <th>Homeworld</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.name %></td>
        <td><%= species.classification %></td>
        <td><%= species.designation %></td>
        <td><%= species.average_height %></td>
        <td><%= species.average_lifespan %></td>
        <td><%= species.eye_colors %></td>
        <td><%= species.hair_colors %></td>
        <td><%= species.skin_colors %></td>
        <td><%= species.language %></td>
        <td><%=
          species.planet.name if species.planet
        %></td>
        <td>

          <%= link_to 'Show', species %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>
