<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Episode</th>
      <th>Opening crawl</th>
      <th>Director</th>
      <th>Producer</th>
      <th>Release date</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.episode_id %></td>
        <td><%= film.opening_crawl %></td>
        <td><%= film.director %></td>
        <td><%= film.producer %></td>
        <td><%= film.release_date %></td>
        <td><%= link_to 'Show', film %></td>
      </tr>
    <% end %>
  </tbody>
</table>
