<p id="notice"><%= notice %></p>

<div class="alert alert-info" role="alert">That is perfect film list</div>

<div class="row">

  <% @films.each do |film| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag film.poster.url(:medium) %>
      <div class="caption">
        <h4 class="pull-right"> <%= film.episode_id %></h4>
        <h4><%= link_to film.title, film %>
        </h4>
        <p> <%= film.opening_crawl[0..150] + '...' %> </p>
      </div>

    </div>
  </div>
  <% end%>

</div>
<!-- /.container -->